:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-inter-sans);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input:-webkit-autofill {
  border: 1px solid #E1E4EA;
  border-radius: 10x;
  box-shadow: 0 0 0 50px #ffffff inset;
  -webkit-box-shadow: 0 0 0 50px #ffffff inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #000;
}

input:-webkit-autofill:hover {
  border: 1px solid #E1E4EA;
  border-radius: 10x;
  box-shadow: 0 0 0 50px #ffffff inset;
  -webkit-box-shadow: 0 0 0 50px #ffffff inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #000;
}

input:-webkit-autofill:focus {
  border: 1px solid #E1E4EA;
  border-radius: 10x;
  box-shadow: 0 0 0 50px #ffffff inset;
  -webkit-box-shadow: 0 0 0 50px #ffffff inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #000;
}

.chakra-checkbox__control{
  border:1.8px solid #E1E4EA;
  border-radius: 4px;
}